.header {

    // Hamburger open styles
    &.open {

        

        .header__toggle {
            > span:first-child{
                transform: rotate(45deg);
            }
    
            > span:nth-child(2){
                opacity: 0;
            }
    
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    // Overlay styles
    .overlay {
        position: fixed;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($darkBlue, transparent);
    }

    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    
    // site logo
    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    // Mobile menu toggle
    &__toggle {
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        
    }

    // Mobile menu styles
    &__menu {
        background: $white;
        padding: 1.625rem;
        border-radius: 5px;
        position: absolute;
        margin-top: 1.5rem;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        
        a {
            color: $darkBlue;
            display: block;
            padding: .625rem;
            text-align: center;
        }
    }

    // Header links
    &__links {
        
        a {
            position: relative;
            font-size: $font-small;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

